
/*--------------------------------------------------------------------------------------*/
/*ThickBox*/

#TB_window.zedity-window {
	width: 90% !important;
	left: 5% !important;
	margin-left: 0 !important;
	z-index: 150050 !important;
}


#TB_overlay.zedity-overlay {
	z-index: 150050 !important;
}




/*--------------------------------------------------------------------------------------*/
/*plugins list buttons*/

#zedity .button,
#zedity-premium .button {
	padding: 0px 4px;
	line-height: 16px;
	height: auto;
	border: 1px solid #E6DB55;
	background: #FFFFE0;
	background: -webkit-linear-gradient(top, #FFFFE0 0%,#E6DB55 100%);
	background: -moz-linear-gradient(top, #FFFFE0 0%, #E6DB55 100%);
	background: -ms-linear-gradient(top, #FFFFE0 0%,#E6DB55 100%);
	background: -o-linear-gradient(top, #FFFFE0 0%,#E6DB55 100%);
	background: linear-gradient(top, #FFFFE0 0%,#E6DB55 100%);
}
#zedity .button:hover,
#zedity-premium .button:hover {
	background: #FFFFE0;
}


/*--------------------------------------------------------------------------------------*/
/*dialog*/

.zedity-dialog {
	z-index: 400000 !important;
	background: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.zedity-dialog .ui-dialog-titlebar {
	padding: 5px 10px;
	font-weight: bold;
	background: whitesmoke;
	border-radius: 5px;
}
.zedity-dialog .ui-dialog-titlebar-close {
	display: none;
}
.zedity-dialog .ui-dialog-content {
	padding: 5px 20px;
}
.zedity-dialog .ui-dialog-buttonset {
	padding: 5px 10px;
	text-align: right;
}

.ui-widget-overlay.ui-front {
	background: #000;
}
